* {
  margin: 0;
  padding: 0;
}
.plugin-content {
  background: #F3F3F3;
  padding: 1%;
  max-width: 1200px;
  margin: 0px auto;
  font-family: arial;
  color: #464444;
}
.plugin-content h1 {
  color: #083E56;
  padding: 5px 0;
  text-shadow: 0px 0px 6px #9E9E9E;
}
.plugin-content h2 {
  margin: 8px 0;
}
.plugin-content h4 {
  width: 100%;
  font-weight: 100;
  line-height: 26px;
  max-width: 480px;
}
h4.mhead {
  color: green;
  font-weight: bold;
  background: #F7F7F7;
  margin: 10px;
}
.html-tag {
  color: #FFEB3B;
  padding: 15px 29px;
  font-size: 13px;
  line-height: 20px;
  background: #000;
}
.hr-features {
  padding-left: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #1073A0;
}
.introPlugin span {
  padding: 6px;
  display: inline-block;
  color: #867F7F;
}
footer {
  background: #ccc;
  padding: 7px 0;
}
.pluginAuthor {
  max-width: 1200px;
  margin: 0px auto;
}
.pluginAuthor .social {
  text-decoration: none;
  display: block;
  margin: 1px auto;
  max-width: 480px;
  width: 100%;
  background: #FF5722;
  color: #fff;
  padding: 15px;
  border-radius: 12px;
  font-size: 19px;
  text-align: center;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
}
.pluginAuthor .author-url {
  width: 44%;
  float: left;
}
.pluginAuthor:after {
  content: "";
  display: table;
  clear: both;
}
.examples .exm {
  width: 40%;
  float: left;
}
.examples:after {
  content: "";
  display: block;
  clear: both;
}

.hr-nav-wrapper {
  max-width: 1200px;
  margin: 0px auto;
  padding: 1%;
  background: #f3f6f7;
}
.hr-nav-wrapper ul {
  padding: 0;
  margin: 0;
}
.hr-nav-wrapper ul:after {
  content: "";
  display: block;
  clear: both;
}
.hr-nav-wrapper ul li {
  list-style-type: none;
  float: left;
  position: relative;
}
.hr-nav-wrapper ul li:hover > ul {
  display: block;
}
.hr-nav-wrapper ul li a {
  text-decoration: none;
  color: #ffffff;
  background: #36474f;
  padding: 0.5em 1em;
  display: block;
  margin-right: 1px;
  font-family: arial;
  font-size: 15px;
  background: linear-gradient(#36474f, #99aeb8);
}
.hr-nav-wrapper ul li a:hover {
  background: #F44336;
}
.hr-nav-wrapper ul li ul {
  display: none;
  position: absolute;
  width: 150px;
}
.hr-nav-wrapper ul li ul a {
  margin-right: 0;
  background: #7b96a3;
}
.hr-nav-wrapper ul li ul li {
  width: 100%;
}
.hr-nav-wrapper ul li ul li ul {
  top: 0;
  left: 100%;
}
.hr-nav-wrapper ul li ul li ul a {
  background: #99aeb8;
}
.hr-toggMenu {
  display: none;
}
.hr-navigation .hrArr {
  position: absolute;
  top: 0px;
  color: #ffffff;
  right: 15%;
}
.hr-navigation .hrArr:after {
  content: "";
  border-top: 5px solid #bfbfbf;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  top: 11px;
  left: 0px;
}
@media screen and (max-width: 768px) {
  /* responsive layout */
  .hr-toggMenu {
    display: inline-block;
    padding: 8px 7px;
    color: #ffffff;
    background: url('../images/menu_open.png') no-repeat;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-size: 30px;
    background-position: 4px;
  }
  .hr-active {
    background: url('../images/menu_close.png') no-repeat;
    background-size: 25px;
    background-position: 4px;
  }
  .hr-navigation {
    max-width: 250px;
    position: relative;
    display: none;
  }
  .hr-navigation.hr-fromLeft {
    left: -260px;
    display: block;
    max-width: 250px;
  }
  .hr-navigation .hrArr {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 6px;
    background: #FF9800 url('../images/hr-arr.png') no-repeat;
    margin: 1px;
    display: inline-block;
    cursor: pointer;
    height: 7px;
    width: 10px;
    background-position: 3px -15px;
    background-size: 16px;
  }
  .hr-navigation .hrArr:after {
    display: none;
  }
  .hr-navigation ul li {
    float: none;
    width: auto !important;
  }
  .hr-navigation ul li a {
    margin-right: 0;
    border-bottom: 1px #1B6EB1 solid;
    padding: 8px 15px;
    font-size: 14px;
  }
  .hr-navigation ul li ul {
    position: relative;
    width: 100%;
  }
  .hr-navigation ul li ul li ul {
    left: 0;
  }
  .hr-navigation ul li:hover > ul {
    display: none;
  }
  .hr-navigation .hrArr-active {
    background: #8BC34A url('../images/hr-arr.png') no-repeat;
    background-position: 3px 2px;
    background-size: 16px;
  }
}
